header {
    background-image: url('CHPL_Brandmark_Secondary_crop.png');
    background-size: 200px;
    background-repeat: no-repeat;
    min-height: 200px;
    /*background-color: #0f232f;*/
    /*background-color: #3184b7;*/
    /*background-color: #0C2340; */
    background-color: #16243a;
    background-position: bottom left;
    background-position-x: 15px;
    background-position-y: 55px;
  
}

footer {
    /*background-color: #0f232f;*/
    background-color: #0C2340;
}

a:link, a:visited, a:hover, a:focus, a:active {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

td.col-item_callnumber {
    font-family: Courier New;

}

@font-face {
  font-family: SpaceMono;
  src: url(SpaceMono-Regular.ttf);
}

@font-face {
  font-family: SpaceMonoBold;
  src: url(SpaceMono-Bold.ttf);
}
